@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 639px) {
  .navbar ul {
    display: none;
  }
  .navbar .minibar {
    display: flex;
    visibility: visible;
  }
}

@media only screen and (min-width: 640px) {
  .navbar ul {
    display: flex;
  }
  .navbar .minibar {
    display: none;
  }
}
