@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --DeepSea: #405d72;
    --Chardon: #F7E7DC;
    --Sugarmilk: #fff8f3;
    --Easternbluebird: #758694;
    --BlackMarket: #201e43;


}
body{
    background-color:  var(--Sugarmilk);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.navbar,.footer{
    background-color: var(--Chardon);
}


@keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 3s infinite;
  }